<!-- Default panel contents -->

<div ng-repeat="d in devices">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>{{ d.$id }} {{$index}}</h4>
      Power: {{d.power.value | number : 2}}<br/>
      Energy: {{d.energy.value | number : 2}}

      <form novalidate class="simple-form">
        Interval: <span>{{ d.writeInterval}}</span>
        <input type="number" ng-model="intervals[$index]" />
        <input type="submit" ng-click="updateInterval(d, intervals[$index])" value="update interval" />
      </form>
    </div>
  </div>
</div>